<!DOCTYPE html>
<html>
<link href="/css/style.css" rel="stylesheet" type="text/css" />

<title>insta485</title>


<div class="topleft">

    <a href="/">
        Back to Home
    </a>

</div>

<div class="topright">

    <a href="/explore/">
        Explore
    </a>
    |
    <a href="/users/{{logname}}/">
        {{logname}}
    </a>

</div>
<div>
    followers
    {%for follow in followers%}
    {%if logname == follow.username%}
    <div>
        <a href="/users/{{follow.username}}/">
            <img src="{{url_for('show_file',filename=follow.user_img_url)}}" height=30 alt="image">{{follow.username}}
        </a>

    </div>
    {%elif follow.logname_follows_username%}
    <div>
        <a href="/users/{{follow.username}}/">
            <img src="{{url_for('show_file',filename=follow.user_img_url)}}" height=30 alt="image">{{follow.username}}
        </a>
        following

        <form action="/following/?target=/users/{{username}}/followers/" method="post" enctype="multipart/form-data">
            <input type="submit" name="unfollow" value="unfollow" />
            <input type="hidden" name="username" value="{{follow.username}}" />
            <input type="hidden" name="operation" value="unfollow" />
        </form>
    </div>
    {%else%}
    <div>

        <a href="/users/{{follow.username}}/">
            <img src="{{url_for('show_file',filename=follow.user_img_url)}}" height=30 alt="image">{{follow.username}}

        </a>
        not following
        <form action="/following/?target=/users/{{username}}/followers/" method="post" enctype="multipart/form-data">
            <input type="submit" name="follow" value="follow" />
            <input type="hidden" name="username" value="{{follow.username}}" />
            <input type="hidden" name="operation" value="follow" />
        </form>
    </div>
    {%endif%}
    {%endfor%}
</div>