<!DOCTYPE html>
<html lang="en">

<link href="/css/style.css" rel="stylesheet" type="text/css" />

<title>insta485</title>


<div class="topleft">

    <a href="/">
        Back to Home
    </a>

</div>

<div class="topright">

    <a href="/explore/">
        Explore
    </a>
    |
    <a href="/users/{{ logname }}/">
        {{ logname }}
    </a>
</div>

<form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
    <input type="password" name="password" required />
    <input type="password" name="new_password1" required />
    <input type="password" name="new_password2" required />
    <input type="submit" name="update_password" value="submit" />
    <input type="hidden" name="operation" value="update_password" />
</form>
<div>
    <a href="/accounts/edit/">Back to edit account</a>
</div>